/* Add a background color to the header element */

header {
    background-color: grey;
    padding: 4px;
}

/* Align the h1 containing your name in the center of the header*/

header h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Add a fun background color to the main element */
/* used a flexbox based on what i learned from https://flexboxfroggy.com/ */

main {
    background-color: #581845;
    color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 55px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Put a border around your image */

main img {
    width: 40%;
    border-radius: 25px;
    border-color: aliceblue;
    border-style: dotted;
    border-width: 10px;
}
/* Change the font-family of your list */

main ul {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Add a background color to the footer element */
/* Make your p tag a different color and italic */

footer {
    background-color:  grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer p {
    color: #581845;
    font-style: italic;
    text-align: center;
    padding: 4px;
    margin-top: 0;
}

